* { 
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color:#F6F6F6
  }

.header_COVID-19{
    background-color: #08090A;
    color: #F5FAFE;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.header__navbar{
    
    
}
/* to align the items I decided to divide the ul into 3 items and use space around */
/*anyhow , the mid nav items are not really in the middle, how can I do it? */
ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;     
     
}
li{
    margin: 10px;
}
a{
   text-decoration: none;
}
.header__mid{
   display: flex;
   
   
   
}
#brand_name{
    
}
select{
    border: none;
    background-color: #F6F6F6;
}

.section_1{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}
h1{
    color: #8CC5F9;
    font-size: 50px;
    font-weight: 700;
    margin-bottom:15px
}
p{
    font-weight: 400;
    size: 22px;
    color: #4F5665;
    
}
.contact_button{
    background-color: #8CC5F9;
    width: 250px;
    height:65px;
    border: none;
    border-radius: 10px;
    margin-top: 40px;
    color: #FFFFFF;
    font-weight: 800;
}
.contact_button:hover{
    background-color: #878ABC;
}
#section_1_image{  
    width: 561px;
    height: 289px;
    margin-top: 50px;
    max-width: 100%; /*to resize the img when the screen is smaller */    
}
/*how to center section2 block? is it ok to use margin left and right auto?*/
.section_2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
    background: #FFFFFF;
    border-radius: 10px;
    width: 90%;
    height: 200px;
    border: none;
    max-width: 100%;
    margin-top:100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

/* to display the text next to the icon.. is it ok to use flex? */
/* the icons were positioned at the top because of the height of the div (is it ok to change the height?)*/
/* I think I'm repeating code here, I might think of a way of not duplicating code (all the sections might
have the same styles so I might use only one class for all of them but what if later in the future I want
to be more specific? ) */
.section_2_left{
    display: flex;
    flex-direction: row;
    height: 100px;
}
.section_2_icons{
    width: 55px;
    height: 55px;
}
.section_2_icontext{
    margin-left: 30px;
}
.section_2_text_paragraph{
    margin-top: 0;
    font-weight: bold;
    color: #0B132A;
    
    
}
.section_2_middle{
    display: flex;
    flex-direction: row;
    height: 100px;
}

.section_2_right{
    display: flex;
    flex-direction: row;
    height: 100px;
}

#section_2_location_icon{
    width: 55px;
    height: 55px;
}