body{
    background-color:  #00abef;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}
header{
    margin-right: 80px;
}
.header__ul > li{
    display: inline;
    margin-left: 10px;
    
}
header > ul{
    text-align: right;
}
#header__img{
   width: 50px;
   
}
.header__ul>li:first-child{
    
    
}
a{
    color: white;
    text-decoration: none;
}



h1{
   width:400px;
   
   margin-left: 50px;
   margin-right: 200px; 
}

button{
    color: white;
    margin-left: 50px;
    padding: 10px 30px;
    border-radius: 50px;   
    border: 1px solid white;
    background-color: #00abef;
    box-shadow: white;
    
}
button:hover{
    color: #00abef;
    background-color: white;
}
img{
    width: 300px;   
}
li>img{
    width: 50px;
    margin: 10px;
    box-shadow: 10px 5px;
}
li>img:hover{
    box-shadow: 10px 10px;
}
footer{
    text-align: center;
    background-color: white;
    color: black;
    width: 75%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}


.footer__ul > li{
    display: inline;
}

main{
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}