header{
    margin-right: 80px;
}
li{
    display: inline;
    margin-left: 10px;
    
}
ul{
    text-align: right;
}
h1{
   width:400px;
   margin-top: 150px;
   margin-left: 50px;
   margin-right: 200px; 
}

button{
    margin-left: 50px;
    padding: 10px 30px;
    border-radius: 50px;
    
    border: 2px solid black;
    background-color:;
}
img{
    width: 200px;
    
}
footer{
    text-align: center;
}