body{
    background-color:  #00abef;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
header{
    margin-right: 80px;
}
.header__ul > li{
    display: inline;
    margin-left: 10px;
    
}
header > ul{
    text-align: right;
}
#header__img{
   width: 50px;
   
}
.header__ul>li:first-child{
    
    
}
a{
    color: white;
    text-decoration: none;
}

main{
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
    

}

h1{
   width:400px;
   text-align: center;
  
}

button{
    color: white;    
    padding: 10px 30px;
    border-radius: 50px;   
    border: 1px solid white;
    background-color: #00abef;
    box-shadow: white;
    
    
}
.main__buttons{
    display: flex;
    justify-content: space-around;
}
button:hover{
    color: #00abef;
    background-color: white;
}
img{
    width: 300px;
    margin: 10px;   
}
li>img{
    width: 50px;
    margin: 10px;   
    box-shadow: 10px 5px;
}
li>img:hover{
    box-shadow: 10px 10px;
}

/* to separate main from footer, should I use margin? */
footer{
    display: flex;  
    align-items: center;
    flex-direction: column;
    background-color: white;
    color: black;
    margin: auto;
    width: 75%;
    margin-top: 50px;
    
    
   
}


.footer__ul > li{
    display: inline;
}

