* { 
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
     
  }
  
@media screen and (max-width:900px) {
    .grid-container{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 30px 2fr 1fr 30px;
        height: 100%;
    }
        header{
            background-color: red;   
        
        }
        
        header>ul{
            display: flex;
            justify-content: space-around;
            list-style: none;
            padding-bottom: 0;
            padding-inline-start:0;
            margin: 0;
        }
        li{
            
        }

        main{
            background-color: blue;
            
        }
        aside{
            background-color: yellow;
            
        }
        footer{
            background-color: green;
           
        }     
    
}   
    

@media screen and (min-width:900px){
    .grid-container{
        display: grid;
        grid-template-columns: repeat(4 1fr);
        grid-template-rows: 30px 1fr 1fr 1fr 1fr 80px;
        height: 100%;
    }
        header{
            background-color: red;
            grid-column: 1/5;
            grid-row: 1/ 2;
        
        }
        
        main{
            background-color: blue;
            grid-column: 1/4;
            grid-row: 2/6;
        }
        aside{
            background-color: yellow;
            grid-column: 4/5;
            grid-row: 2/6;
        }
        footer{
            background-color: green;
            grid-column: 1/5;
            grid-row: 6/8;
        }                    
    
}



    
