body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt;
    
    
    
}

h1{
    color:brown
}

.three-times-bigger{
    font-size: 3em;
    color: coral;
}
.bold{
    font-weight: bold;
    font-style: italic;
}

p{
    line-height: 300%;
}

img{
    width: 30%;
}

img:hover{
    width: 70%;
    border: solid black;
}

li {
    font-weight: bold;
}

li:hover{
    font-weight: 100;
}

li:last-child{
    color: red;
}

li>a {
    color: blue;
}