body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt;
    
    
    
}

h1{
    color:brown
}

.three-times-bigger{
    font-size: 3em;
    color: coral;
}
.bold{
    font-weight: bold;
    font-style: italic;
}

p{
    line-height: 300%;
}