*{
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}


.visually-hidden{
    display: none;
}

.control-me{
    width: 100%;
    height: 100%;
  
    
    
}
.control-me img{
    width: 100%;
    height: 100%;
}

#toggle:checked ~ .control-me{
    width: 100%;
    height: 100%;

.image-container{
    width: 50%;
    height: 50%;
}
label{
    width: 50%;
    height: 50%;
}