/* Reseteo global */
* { 
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/**
COMIENZA: Cabecera de página
**/
ul { 
    list-style: none;
    
}
a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    color: #70757a;
    /* le puse un display block y se centro... entiendo pero no entiendo */
    display: block;
}
/* onclick it looks like I need js for this 
a:active{
    margin-bottom: 2px solid red;
} 
21/11/20 edited : NONONO, its a property by default to be displayed on the new page */


.icon {
    width: 24px;
    height: 24px;
}

header, .menu-superior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    width: 100%;
    padding: 0;
    height: 48px;
    margin: 0;
}
.menu--superior--left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    width: 40%;
}
.nav-menu{
    margin: 0;
}
.menu-expandible{
    display: none;
    width: 70%;
    height: 100%;
                 
}
span{
    font-size: 16px;
}
.google-logo{
    height: 80%;
    padding:0 15px;
    
}
.img-menu{
    padding:0 15px;

}
.hr{
    height: 1px;
    width: 72%;
    display: block;
    border: solid 1px #dadce0;
    
}
.menu-expandible>a{
    display: flex;
    align-items: center;
}
/* I'm missing the background color :black on the body, not really sure how to do it */
.nav-menu:focus +  .menu-expandible {
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 15px; 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5,48px) 1px repeat(6,48px);  
    background-color:#FFF;
    animation-name: collapsible-menu;
    animation-duration: 0.5s;
    animation-timing-function: ease;
          
}

@keyframes collapsible-menu {
    0%   {
       
        
        left: -300px;
        
    }
    25%  {}
    50%  {}
    100% {
        
        left: 0;
    }
  }


.menu--superior--right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    width: 20%;
    
}
.boton-parrilla-derecha{
    border: none;
    padding: 8px;
    
}
.parrilla-menu-expandible{
    display: none;
    position: absolute;    
    right: 10px;
    width: 90%;
    height: 70%;
    border: solid 1px #dadce0;
    background-color: #FFF;
    border-radius: 10px;
    margin-top: 1rem;
}
.parrilla-menu-expandible>img{
    margin: 1rem;
}
/* I still need to add a scroll bar*/
.boton-parrilla-derecha:focus + .parrilla-menu-expandible{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 0 10px #dadce0;
}
.boton-parrilla-derecha:focus{
    box-sizing: border-box;
    border: solid 1px #F5F5F5;
    border-radius: 50%;
    background-color: #F5F5F5;
    opacity:0.2 ;
    
}

.redondo {
    border-radius: 50%;
}

.imagen-miniatura {
    width: 32px;
    height: 32px;
}
.menu-parrilla-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 64px;
    height: 64px;
    margin: 1rem;
    justify-content: space-between;
    
}
.button-profilepicture{
    margin: 0;
}

/**
FINALIZA: Cabecera de página
**/
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 1rem;
    
    
}
main>img{
    height: 10rem;
    margin-bottom: 1rem;
    
}
.rounded-corners{
    border-radius: 20px;
}
form{
    
    border: 1px solid #70757a;
    display: flex;
    justify-content: space-between;
    height: 40px;
}
button{
    background-color: transparent;
    border: none;   
    padding: 0;
    
}
.span--below--form{
    margin-top: 7%;
}

input{
    border: none;
    width: 100%;
}


/*footer*/
footer{
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    
}
.menu-inferior{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    
    
}
.footer--h1{
    
    font-size: 16px;
    font-weight: 200;
    color: #70757a;
    border-bottom: 1px solid #dadce0;
    padding: 1rem;
    margin: 0;
}
.footer--links{
    margin: 1rem;
    margin-top: 0;
    
    
}
.footer--anchor{
    font-size: 13px;
    font-weight: normal;
    
}

