/* Reseteo global */
* { 
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/**
COMIENZA: Cabecera de página
**/
ul { 
    list-style: none;
    
}
a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    color: #70757a;
    /* le puse un display block y se centro... entiendo pero no entiendo */
    display: block;
}
/* onclick it looks like I need js for this 
a:active{
    margin-bottom: 2px solid red;
} 
21/11/20 edited : NONONO, its a property by default to be displayed on the new page */


.icon {
    width: 24px;
    height: 24px;
}

header, .menu-superior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    width: 100%;
    padding: 0;
    height: 48px;
    margin: 0;
}
.menu--superior--left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    width: 40%;
}
.nav-menu{
    margin: 0;
}
.menu-expandible{
    display: none;
    width: 60%;
   
    
    
        
}


.nav-menu:focus +  .menu-expandible {
    position: absolute;
    left: 0;
    top: 0; 
    display: block;
    background-color:#FFF;
    
}
.menu--superior--right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    width: 20%;
    
}



.redondo {
    border-radius: 50%;
}

.imagen-miniatura {
    width: 32px;
    height: 32px;
}

/**
FINALIZA: Cabecera de página
**/
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 1rem;
    
    
}
main>img{
    height: 10rem;
    margin-bottom: 1rem;
    
}
.rounded-corners{
    border-radius: 20px;
}
form{
    
    border: 1px solid #70757a;
    display: flex;
    justify-content: space-between;
    height: 40px;
}
button{
    background-color: transparent;
    border: none;
    margin: 7px;
    padding: 0;
    
}
.span--below--form{
    margin-top: 7%;
}

input{
    border: none;
    width: 100%;
}


/*footer*/
footer{
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    
}
.menu-inferior{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    
    
}
.footer--h1{
    
    font-size: 16px;
    font-weight: 200;
    color: #70757a;
    border-bottom: 1px solid #dadce0;
    padding: 1rem;
    margin: 0;
}
.footer--links{
    margin: 1rem;
    margin-top: 0;
    
    
}
.footer--anchor{
    font-size: 13px;
    font-weight: normal;
    
}

@media () {

}